gjdfhgd/Patient Onboarding Workflow.json
{
  "name": "Patient Onboarding Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1I5oLFYVAzG1F8PDMwhF1UtNihlhNxEShWfV7JWw2Zpo",
          "mode": "list",
          "cachedResultName": "PATIENT ONBOARDING Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I5oLFYVAzG1F8PDMwhF1UtNihlhNxEShWfV7JWw2Zpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1479371815,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I5oLFYVAzG1F8PDMwhF1UtNihlhNxEShWfV7JWw2Zpo/edit#gid=1479371815"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        704,
        928
      ],
      "id": "256b3df4-469e-4e16-9e98-2d9dfbf044a9",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "LjuaV4oKQDvqINDL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d31e0aa-8898-4a25-88dc-902ab2511a1b",
              "name": "patientId",
              "value": "={{ 'PT-' + Date.now() }}",
              "type": "string"
            },
            {
              "id": "b0daf1b9-9cc7-40d0-938e-6a3a92a91a67",
              "name": "Full Name ",
              "value": "={{ $json['Full Name '] }}",
              "type": "string"
            },
            {
              "id": "b414d05a-d5b9-40f6-bea9-50a6860fb102",
              "name": "  Phone Number (WhatsApp)  ",
              "value": "={{ $json['  Phone Number (WhatsApp)  '] }}",
              "type": "string"
            },
            {
              "id": "f300b50b-f642-4c88-a2fa-f18c417cda58",
              "name": "  Email Address  ",
              "value": "={{ $json['  Email Address  '] }}",
              "type": "string"
            },
            {
              "id": "c2809157-3986-4bdf-98a3-d969e3d705b0",
              "name": "  Health Condition  ",
              "value": "={{ $json['  Health Condition  '] }}",
              "type": "string"
            },
            {
              "id": "e426fb86-eaf4-49e4-939f-9388b4cba0e3",
              "name": "  Assigned Doctor  ",
              "value": "={{ $json['  Assigned Doctor  '] }}",
              "type": "string"
            },
            {
              "id": "7909c57d-20ac-4534-8fc8-92194468dcef",
              "name": "  Current Weight (kg)  ",
              "value": "={{ $json['  Current Weight (kg)  '] }}",
              "type": "number"
            },
            {
              "id": "061be7b0-4bdd-4513-9f15-b86d823f4c7d",
              "name": "  Blood Pressure (e.g. 120/80)  ",
              "value": "={{ $json['  Blood Pressure (e.g. 120/80)  '] }}",
              "type": "string"
            },
            {
              "id": "feab6980-33ae-4098-adb6-27fa4215de7f",
              "name": "riskScore",
              "value": 0,
              "type": "number"
            },
            {
              "id": "709d6413-afb8-46c8-9ab1-5bea53a4e11c",
              "name": "lastCheckIn",
              "value": "null",
              "type": "string"
            },
            {
              "id": "a64a9c86-408e-4c2f-86ae-95bd1a4ae7a9",
              "name": "consecutiveMissed",
              "value": 0,
              "type": "number"
            },
            {
              "id": "d3986c90-b328-4bb4-b10b-54a804d7d36c",
              "name": "createdAt",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        912
      ],
      "id": "61eb61d0-f4d5-4400-a508-dc2898bf1c97",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O5Qjamo_9dEr4q6OPAQozkj2ddZl39vn29nyEpSGy8g",
          "mode": "list",
          "cachedResultName": "Patients_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O5Qjamo_9dEr4q6OPAQozkj2ddZl39vn29nyEpSGy8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O5Qjamo_9dEr4q6OPAQozkj2ddZl39vn29nyEpSGy8g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patientId": "={{ $json.patientId }}",
            "name": "={{ $json['Full Name '] }}",
            "phone": "={{ $json['  Phone Number (WhatsApp)  '] }}",
            "email": "={{ $json['  Email Address  '] }}",
            "condition": "={{ $json['  Health Condition  '] }}",
            "doctor": "={{ $json['  Assigned Doctor  '] }}",
            "weight": "={{ $json['  Current Weight (kg)  '] }}",
            "  Blood Pressure ": "={{ $json['  Blood Pressure (e.g. 120/80)  '] }}",
            "riskScore": "={{ $json.riskScore }}",
            "lastCheckIn": "={{ $json.lastCheckIn }}",
            "consecutive Missed": "={{ $json.consecutiveMissed }}",
            "createdAt": "={{ $json.createdAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patientId",
              "displayName": "patientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doctor",
              "displayName": "doctor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Blood Pressure ",
              "displayName": "  Blood Pressure ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "riskScore",
              "displayName": "riskScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastCheckIn",
              "displayName": "lastCheckIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "consecutive Missed",
              "displayName": "consecutive Missed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        912
      ],
      "id": "86d5dfd8-b920-47c3-97e5-7daf565fc7fc",
      "name": "Append row in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E51O9dtb5LTCUjOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "=",
                    "rightValue": "PCOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f26b972b-1f3f-4542-a4a3-7e3a1dbe1773"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f1ab89a6-567d-4a47-a298-ca4b2de3529f",
                    "leftValue": "={{ $json.condition }}",
                    "rightValue": "Diabetes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b43fbf41-6021-46b0-b0a6-035504d9cf68",
                    "leftValue": "={{ $json.condition }}",
                    "rightValue": "Hypertension",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54148795-7047-43ba-b718-21d6f36482b0",
                    "leftValue": "={{ $json.condition }}",
                    "rightValue": "Over Weight",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1696,
        864
      ],
      "id": "55ac570f-d149-4f45-87ae-4878a32cb919",
      "name": "Switch",
      "executeOnce": false
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Welcome to the Program",
        "emailType": "text",
        "message": "=Hi {{$json.name}},\n\nWelcome to our {{$json.condition}} health program. \nYour Patient ID is {{$json.patientId}}.\n\nRegards,\nAIHealth DR.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        704
      ],
      "id": "c32b732d-5f4f-432c-b613-98507d04e7b4",
      "name": "Send a message",
      "webhookId": "4785d151-8087-40dd-93ff-20db0ce613d4",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "7H6OE10GnH3CbYRu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.email }}",
        "subject": "Welcome to the Program",
        "emailType": "text",
        "message": "=Hi {{$json.name}},\n\nWelcome to our {{$json.condition}} health program. \nYour Patient ID is {{$json.patientId}}.\n\nRegards,\nAIHealth DR.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2000,
        896
      ],
      "id": "20f7e202-0344-48d1-b136-affa28817224",
      "name": "Send a message1",
      "webhookId": "ed18be9e-2e9b-493e-a75f-ab874fa6cb43",
      "credentials": {
        "gmailOAuth2": {
          "id": "7H6OE10GnH3CbYRu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.email }}",
        "subject": "Welcome to the Program",
        "emailType": "text",
        "message": "=Hi {{$json.name}},\n\nWelcome to our {{$json.condition}} health program. \nYour Patient ID is {{$json.patientId}}.\n\nRegards,\nAIHealth DR.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2080,
        1072
      ],
      "id": "8770b805-a5c1-47dc-9a9e-0ce8d23a883b",
      "name": "Send a message2",
      "webhookId": "a9efaa51-bbb5-4863-a3b3-cd53adf16651",
      "credentials": {
        "gmailOAuth2": {
          "id": "7H6OE10GnH3CbYRu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.email }}",
        "subject": "Welcome to the Program",
        "message": "=Hi {{$json.name}},  \n\nWelcome to our {{$json.condition}} health program.  \nYour Patient ID is {{$json.patientId}}.  \nYour Doc is {{ $json.doctor }}\n\nRegards, \nAIHealth DR.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2064,
        1248
      ],
      "id": "2af020ce-80f9-4a57-81cb-03ce2c911b99",
      "name": "Send a message3",
      "webhookId": "2398ebbb-a26a-4811-ab35-afebd69d1dc0",
      "credentials": {
        "gmailOAuth2": {
          "id": "7H6OE10GnH3CbYRu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4dc9e1b8-5e11-4505-9251-ef5e75ed4adc",
              "leftValue": "={{ $('Google Sheets Trigger').item.json.welcomeSent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        912
      ],
      "id": "ffaebb6e-a352-4851-8680-a96d31401b49",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I5oLFYVAzG1F8PDMwhF1UtNihlhNxEShWfV7JWw2Zpo",
          "mode": "list",
          "cachedResultName": "PATIENT ONBOARDING Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I5oLFYVAzG1F8PDMwhF1UtNihlhNxEShWfV7JWw2Zpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1479371815,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I5oLFYVAzG1F8PDMwhF1UtNihlhNxEShWfV7JWw2Zpo/edit#gid=1479371815"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "welcomeSent": "yes",
            "Timestamp": "={{ $('Google Sheets Trigger').item.json.Timestamp }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Phone Number (WhatsApp)  ",
              "displayName": "  Phone Number (WhatsApp)  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Email Address  ",
              "displayName": "  Email Address  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Health Condition  ",
              "displayName": "  Health Condition  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Assigned Doctor  ",
              "displayName": "  Assigned Doctor  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Current Weight (kg)  ",
              "displayName": "  Current Weight (kg)  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Blood Pressure (e.g. 120/80)  ",
              "displayName": "  Blood Pressure (e.g. 120/80)  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "welcomeSent",
              "displayName": "welcomeSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2304,
        912
      ],
      "id": "797f9ea3-059b-4aa3-97a8-78afd9a476fe",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E51O9dtb5LTCUjOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c0c11a3-45a3-44e7-817e-28f0b76fdcd0",
              "leftValue": "={{ $json.welcomeSent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        928
      ],
      "id": "e4f14db4-a953-40ec-924b-808632e14e93",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bJASWjmaGPKTbjCUo9kCQllBisT0aopvv_yJ8S72hpI",
          "mode": "list",
          "cachedResultName": "Doctors  Contact information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bJASWjmaGPKTbjCUo9kCQllBisT0aopvv_yJ8S72hpI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bJASWjmaGPKTbjCUo9kCQllBisT0aopvv_yJ8S72hpI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $('Google Sheets Trigger').item.json['  Assigned Doctor  '] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2528,
        912
      ],
      "id": "995be436-ab1a-4d98-b001-dc0390f3782c",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E51O9dtb5LTCUjOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Welcome",
        "emailType": "text",
        "message": "=Hi {{ $json.Name }}, \n\nyou have a new patient named {{ $('Edit Fields').item.json[\"Full Name \"] }} for the condition {{ $json['Health Condition'] }}. \n\nRegards,\nAIHealth DR.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2752,
        912
      ],
      "id": "adb18a38-351a-4b9c-bfca-a2855fbfa15b",
      "name": "Send a message8",
      "webhookId": "132ba778-2b18-4f84-b85b-3358e0b8a9f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "7H6OE10GnH3CbYRu",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8fb1c8fa-098a-4975-8e85-c30760003b16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27b72a27ad14af5b877fc034585461bba60d80e0110eac1513c53656edc38003"
  },
  "id": "XDohPSs3yMkR1tYp",
  "tags": []
}