Customer Sentiment Analysis/1.Customer Sentiment Analysis workflow.json
{
  "name": "1.Customer Sentiment Analysis workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-sentiment-analysis",
        "options": {}
      },
      "id": "96276170-16f1-4be0-88f2-8a2bf16d2f14",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2464,
        4184
      ],
      "webhookId": "726f26cb-bb83-4bf7-b59b-25f46378d4b7"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "id": "0426ff3b-087d-4174-83c7-25e3e981582e",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        3144,
        4208
      ],
      "credentials": {
        "cohereApi": {
          "id": "7Ra0oeiJuy4rfkIw",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "customersentimentanalysis",
          "mode": "list",
          "cachedResultName": "customersentimentanalysis"
        },
        "options": {}
      },
      "id": "da0d5681-24f2-454a-a894-2bd0f71b700b",
      "name": "Pinecone Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        3060,
        4488
      ],
      "credentials": {
        "pineconeApi": {
          "id": "mBWk9hmqWd9aC4ws",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "customersentimentanalysis",
          "mode": "list",
          "cachedResultName": "customersentimentanalysis"
        },
        "options": {}
      },
      "id": "b063a1ea-7a0a-42c2-bafa-c24d04e8699c",
      "name": "Pinecone Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        3064,
        4000
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cXx5oUnRRVsyFrLo",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "name": "Pinecone",
        "description": "Use this tool to look up previous customer feedback and sentiment history from the database"
      },
      "id": "a1554b13-1a19-4314-bad2-3e4f68f674f9",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        3168,
        3792
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "test-session"
      },
      "id": "8bfd402d-f498-4bee-b5be-99d82013eadd",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3040,
        3792
      ]
    },
    {
      "parameters": {
        "text": "=Task: Analyze the customer message below. Start your response with exactly one of these words: [Positive, Negative, Neutral]. Then provide your reasoning. Message: {{ $json['body.text'] }}",
        "options": {
          "systemMessage": "You are an assistant for Customer Sentiment Analysis"
        }
      },
      "id": "dc45d332-163a-4b87-8fd7-a70bd9514e39",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        2968,
        3568
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lZRPmn4Ils3wTFnln10SmZ2xUTEncmkRJnfAvsnOPMs",
          "mode": "list",
          "cachedResultName": "Customer Sentiment Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lZRPmn4Ils3wTFnln10SmZ2xUTEncmkRJnfAvsnOPMs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lZRPmn4Ils3wTFnln10SmZ2xUTEncmkRJnfAvsnOPMs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "={{ $json.SentimentScore }}",
            "Original Text": "={{ $('Split Out').item.json['body.text'] }}",
            "Status": "=Processed",
            "Date": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "output": "={{ $('RAG Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original Text",
              "displayName": "Original Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "892e6dbb-8067-4d28-923c-b4ac988ca47c",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3784,
        3784
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E51O9dtb5LTCUjOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#alerts",
        "text": "Customer Sentiment Analysis error: {$json.error.message}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "2438d2f3-a2dc-41a5-a2df-8d29377fdb94",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        3560,
        3976
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "2tQLQSdJh3CfIeh5",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2912,
        3792
      ],
      "id": "2c53debf-39e0-4b61-b007-20de09fc1ad4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ELF8dPa0i1fm2kMV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.text",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        4184
      ],
      "id": "0ecb1360-acd3-41ca-b2c8-b4c8707fdf62",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3352,
        4000
      ],
      "id": "fcc24f34-5fb6-4fbe-b4e1-1fbd43e20b12",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ELF8dPa0i1fm2kMV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3132,
        4712
      ],
      "id": "d1ed122f-ccd8-4fd9-94f7-1b0cf4def05c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e68973a-2f3b-4cd5-9aaf-5d4776ec089c",
              "name": "SentimentScore",
              "value": "={{ $json.output.match(/(Positive|Negative|Neutral)/i)?.[0] || \"Unknown\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3560,
        3784
      ],
      "id": "6cceb3d9-7674-4c62-8001-0bbbcb97554e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f130d244-75d5-4ed6-8d5c-f2e1676ed683",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27b72a27ad14af5b877fc034585461bba60d80e0110eac1513c53656edc38003"
  },
  "id": "b7BmFrI48tOJRgYtb3SCI",
  "tags": []
}